/* ---------------------------*/
/* basic setup */
/* ---------------------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
    background: linear-gradient(to right,#f4f4f4 , #f4f4f4);
    color: #555;
    font-family: 'Lato','Aerial',sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    /*overflow-x: hidden;*/
}

body{
    max-width: 1200px;
    margin: auto auto;
}
/* ---------------------------*/
/* reusable component */
/* ---------------------------*/
.genrealInfo,.contactInfo{
	width:100%; 
	  
}
 /* ---------------------------*/
/* general/Contact info component */
/* ---------------------------*/
.genrealInfo{
    float: right;
    text-align: left;
	background: rgb(22, 47, 77);	 
}
.contactInfo{
	overflow: hidden;
	text-align: center;
    background: rgb(10, 29, 52);
	padding:0 2px 2px 0;
	color:#e6e6e6;
}
/* ---------------------------*/
/* image component */
/* ---------------------------*/
.profileImg{
	float: left;    
}
.profileImg img{
	width: 100px;
	border-radius: 100px;
}

/* ---------------------------*/
/* name, role, about */
/* ---------------------------*/
.name,.role,.about{	
	margin-left:10%;
	color:#e5e5e5;
	width:20%;  
}
.name{    
    font-size: 130%;
	font-weight: 700;
	text-transform: uppercase;
    letter-spacing: 2px;
	padding-bottom: 5px;
    margin-top:20px;   
}
.role{
    color:rgba(212, 212, 212, 0.92);
    font-size: 100%;
    letter-spacing: 1px;
	padding-bottom: 10px;    
}
.about{    
    font-size: 80%;
	width:80%;
	
}

/* ---------------------------*/
/* contact details*/
/* ---------------------------*/
/* have to fix it */
.contactInfo .li_wrap li{
    list-style: none;
    /*text-align: center;   */ 
    font-size: 75%;  
	word-spacing: 5px;  
	margin-right: 40px;;  
}
.contactInfo li{
    display: inline-block;
}
/* ---------------------------*/
/* icons */
/* ---------------------------*/
.li_wrap .cntFont{
    font-size: larger;
	text-align: center;
}
/* ---------------------------*/
/* anchor hover efect */
/* ---------------------------*/
a:link,
a:visited{
    color:#e6e6e6;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding-bottom: 1px;
    transition: border-bottom .2s , color 0.2s;
}
/* div efffect*/
div p{
    display: inline-block;
    text-align: center;
    margin:8px 0;    
}
/* ---------------------------*/
/* main content part   */
/* ---------------------------*/
.content-body{
    margin-bottom: 1px;
}
/* ---------------------------*/
/* left  */
/* ---------------------------*/
.left{
    background: rgb(22, 47, 77);
	padding: 1% 1%;
    float:left;
	width:22%;
	 
}
/* left Title formatting */
.title{
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 10px;
	color: #ededed;
	position: relative;
	text-align: right;
	margin-bottom: 15px;
}

.title:before{
	content: "";
	position: absolute;
	top: 30px;
	right: 0;
	width: 55px;
	height: 2px;
	background: #ededed;
}
/* left each block formatting */
.left li {
	list-style: none;
	box-sizing: inherit;	
}
.left ul{
	display: flex;
	flex-wrap: wrap;	
	justify-content: space-between;	
}
.left .text{
	color: rgb(22, 47, 77);
	font-size: 13px;
}
.left  .certification .text{
	font-size: 12.5px;
} 

.skills .li_wrap,.tools .li_wrap{
	width: 110px;
	height: 20px;	
	border-radius: 15px;
	display: flex;
	margin: 8px auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background: #fff;
}
.Award .li_wrap,
.certification .li_wrap{
	width: 220px;
	height: 25px;
	margin: 8px auto;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
  background: #fff;
}
.education .li_wrap{
   width: 220px;
   height: 30px;
   margin-bottom: 15px;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:center;
   background: #fff;
}
.education .li_wrap .text{
   font-size: 12px;
   justify-content: center;
   padding: 2px 2px 2px 8px;
}
.skills,.tools,.Award,.certification{
	margin-bottom: 20px;
}
/* ---------------------------*/
/* right side */
/* ---------------------------*/
.right{		  
	color: #292b2f;
	overflow: hidden;
	width:78%;
	
}
.right .exp .title {
    color:#1509ad;

}
.right .exp .title:before{
	background: #1509ad;
}
/* ---------------------------*/
/* right side spacing */
/* ---------------------------*/
.exp_wrap li{
    list-style: none;
}

/* ---------------------------*/
/* list formattting */
/* ---------------------------*/

.exp_wrap .li_wrap{
	display: flex;
	margin-bottom: 20px;
}
/* date field format*/
.date {
    width:10%;
    color: #1509ad;
    font-size: 17px;
    padding: 2px 2px 0 2px;
	position: relative;
	/*writing-mode: vertical-rl;
	text-orientation: mixed;*/
	text-align: center;
	display: flex;
	align-items: center;
    justify-content: center;
   
}
/* top div format*/
.info{
    width:90%;
	padding-left: 10px;
	position: relative;
    font-size: 20px;

}
/* job title field format*/
 .info_title{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	color: #1509ad;
    margin: 0px 1px 5px 10px;
}

/* comaany name field format*/
.info_com{
	font-weight: 500;
	font-size: 85%;
	margin: 2px 1px 5px 10px; 
    display: block;
    text-align: left;
    padding-left: 5px;
    color:#1509ad;
}
/* information formatting ( details of the work) */
.info_cont{
    text-align: left;
    font-size: 75%;
    margin: 0px 1px 5px 10px;
    padding-bottom: 2px;
}
/* left long line format*/
.exp .li_wrap .info:before{
	content: "";
	position: absolute;
	top: 3px;
	left: 0;
	width: 10px;
	height: 10px;	
	background: #1509AD;
	border-radius: 50%;
}

.exp .li_wrap .info:after{
	content: "";
	position: absolute;
	top: 10px;
	left: 4px;
	width: 2px;
	height: 93%;
	background: #1509AD;
}