/* ---------------------------*/
/* basic setup */
/* ---------------------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}
html,body{
    background: linear-gradient(to right,#f4f4f4 , #f4f4f4);
    color: #555;
    font-family: 'Lato','Aerial',sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-rendering: optimizeLegibility;  
    overflow-x: hidden;	
    
}
body{	
    max-width: 1140px;
    margin: auto auto;
    
}
/* ---------------------------*/
/* reusable component */
/* ---------------------------*/

.genrealInfo,.contactInfo{			
	width:100%;
    margin: 0 0;        
}

/* ---------------------------*/
/* image component */
/* ---------------------------*/
.profileImg{
    text-align: left;
    margin-left: 10px;
	padding: 2px 2px 0 1px;
    float: left;
}
.profileImg img{
	width: 100px;
	border-radius: 100px;
}
/* ---------------------------*/
/* general info component */
/* ---------------------------*/
.genrealInfo{    
    float: right;
    text-align: left;
    background: rgb(22, 47, 77);  
   
    
}
.name,.role,.about{
    margin-left:150px;
    margin-right: 30px;
     box-sizing: border-box;
    
}

/* ---------------------------*/
/* name, role, about */
/* ---------------------------*/
.name{
    color:#e5e5e5;
    font-size: 125%;
	font-weight: 700;
	text-transform: uppercase;
    letter-spacing: 2px;
	padding-bottom: 5px;
    margin-top:20px;
    width:18%;
}
.role{
    color:rgba(212, 212, 212, 0.92);
    font-size: 90%;
    letter-spacing: 1px;
	padding-bottom: 10px;
    width:18%;
}
.about{
    color:#e5e5e5;
    font-size: 80%;
    width:75%;
    
}
/* ---------------------------*/
/* contact details*/
/* ---------------------------*/
.contactInfo{    
    text-align: left;
    background: rgb(10, 29, 52);
    padding:0 2px 2px 0; 
   
}
.contactInfo ul{     
    list-style: none;
    text-align: center;
    color:#e6e6e6;
    font-size: 75%;
    margin-right:-20px;
    word-spacing: 60px;
    margin-left: 2px;
    padding-left: 27px;
    
}
.contactInfo li{
    display: inline-block;
}

/* ---------------------------*/
/* icons */
/* ---------------------------*/
.mobFont{
    font-size: large;
}

/* ---------------------------*/
/* anchor hover efect */
/* ---------------------------*/
a:link,
a:visited{
    color:#e6e6e6;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding-bottom: 1px;
    transition: border-bottom .2s , color 0.2s;
}
a:hover,
a:active{
    color:#b9b0b0;
    border-bottom: 1px solid #b9b0b0;
}

/* div efffect*/
div p{
    
    display: inline-block;
    text-align: center;
    margin:10px 2px;
    padding-left: 5px;
    
}
/* ---------------------------*/
/* main content part   */
/* ---------------------------*/
.content-body{
    margin-bottom: 1px;
}
/* ---------------------------*/
/* left  */
/* ---------------------------*/

.left{
	background: rgb(22, 47, 77);	
	padding: 18px 20px;
    float:left;
    width:22%;
    margin-right: 5px;
}

.left .text{
	color: rgb(22, 47, 77);
	font-size: 13px;
}

.skills li,.Tools li,.Awards li,.certification li,.education li{
    list-style: none;
}
.title{
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 10px;
	color: #ededed;
	position: relative;
	text-align: right;
	margin-bottom: 15px;
}

.title:before{
	content: "";
	position: absolute;
	top: 30px;
	right: 0;
	width: 55px;
	height: 2px;
	background: #ededed;
}
.left .text{
	color: rgb(22, 47, 77);	
	font-size: 13px;
}
.left  .certification .text{		
	font-size: 12px;
}

.skills ul,.Tools ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.skills .li_wrap,.Tools .li_wrap{
	width: 102.5px;
	height: 20px;
	margin-bottom: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background: #fff;
}
.Awards .li_wrap,.certification .li_wrap{
    width: 205px;
	height: 23px;
	margin-bottom: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
    background: #fff; 
}
.education .li_wrap{
     width: 205px;
	height: 30px;    
    margin-bottom: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
    background: #fff; 
}
.education .li_wrap .text{
    font-size: 12px;
    justify-content: center;
    padding: 2px 2px 2px 8px;
}
.skills .li_wrap .text,
.Tools .li_wrap .text{
	margin-top: 5px 5px; 
    
}
/* ---------------------------*/
/* right side */
/* ---------------------------*/
.right{
    width:78%;
    box-sizing: border-box;
    margin-left: 250px; 
    padding: 2px;  
    color: #292b2f;
    
}


.right .exp .title {
    color:#1509ad;   
    
}
.right .exp .title:before{
	background: #1509ad;
}
/* ---------------------------*/
/* right side spacing */
/* ---------------------------*/

.exp_wrap li{    
    list-style: none;
}
/* ---------------------------*/
/* list formattting */
/* ---------------------------*/

.right_inner .li_wrap{
	display: flex;
	margin-bottom: 20px;
    
}

.date {
    width:10%;
    color: #1509ad;
    font-size: 15px;
    padding: 2px 2px 0 2px;
    
}

.info{
    width:90%;
	padding-left: 10px;
	position: relative;
    font-size: 16px;	
	
}

 .info_title{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	color: #1509ad;
     margin-bottom: 1px;
     
}

.right_inner .li_wrap .info_com{
	font-weight: 500;
	font-size: 14px;
	margin-top: 2px;
    width:28%;
    display: block;
    text-align: left;    
    padding-left: 5px;
    color:#1509ad;
}

.right_inner .li_wrap .info_cont{
	margin: 5px 2px 2px 0;
    padding-bottom: 2px;
}

.right_inner .li_wrap .info:before{
	content: "";
	position: absolute;
	top: 3px;
	left: 0;
	width: 10px;
	height: 10px;
	background: #1509AD;
	border-radius: 50%;
}


.right_inner .li_wrap .info:after{
	content: "";
	position: absolute;
	top: 10px;
	left: 4px;
	width: 2px;
	height: 93%;
	background: #1509AD;
}

/* duration spacing */

.right_inner .education{
	margin-top: 10px;    
}

.info_cont{
    text-align: left;
    font-size: 14px;
    margin: 3px 0;
}

































